<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <p>Here you can find anything about me!</p>

    {{> footer}}
  </body>
</html>
